body{
  background: linear-gradient(rgb(221, 221, 221), rgb(230, 230, 230));
  height: 100%;
  margin: 0;
  background-repeat: no-repeat;
  background-attachment: fixed;
}

h1.title{
  text-align: center;
  padding-top: 3%;
  padding-bottom: 10%;
  font-size: 4rem;
}

.box{
  width:100%;
	height:100%;
	margin:auto;
  /*padding:10px;*/
  background: rgb(245, 245, 245);
  border-radius: 25px;
  box-shadow: 0 2px 7px -3px rgb(128, 128, 128);
}

.center{
  text-align: center;
  vertical-align: middle;
  line-height: 100px;
}

a.center{
  font-size: 3em;
  display: block;
}

a{
  text-decoration: none !important;
}

.green-text{
  color: rgb(43, 184, 43);
}

.red-text{
  color: red;
}

.some-padding{
  padding-top: 3%;
  padding-bottom: 3%;
}